@media (min-width:768px) {

	.container {
		max-width: 1026px !important;
	}

	.header-content-right-bottom {
		display: none;
	}

	.home-wardrobe-content > .home-wardrobe-content-title {
		display: none;
	}

	.map-toggle {
		display: none;
	}

	.dealers-map {
		display: block !important;
	}

	.dealers-map .map-close {
		display: none;
	}

	.dealers-select {
		display: none;
	}

	.dealers-list-item-descr {
		display: block;
	}

	.dealer-more-btn {
		display: none;
		cursor: pointer;
	}

}

@media (max-width: 1279px) {

  .link-section__card-right {
  	max-width: 430px;
  }

}

@media (max-width: 1023px) {

  .link-section__card-left {
    max-width: 100%;
    padding-right: 0px;
  }
  .link-section__title--border {
  	display: block;
    text-align: center;
  }
  .link-section__card-right {
  	max-width: 100%;
  }
  .img-dua-border__50 {
  	width: 100%;
  	margin-bottom: 25px;
  }
  .img-dua-border__50:nth-child(2) {
    margin-left: 0px;
  }
  .img-right {
  	float: none;
    margin: 0 auto;
    display: block;
  }
  .link-section__dovod {
  	width: 100%;
  	margin-bottom: 25px;
  }

}

@media (max-width:992px) {

	.header {
		width: 100%;
		height: 50px;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 300;
	}

	.header-content {
		display: block;
		height: 50px;
	}

	.header-content-left {
		width: auto;
		float: left;
		padding: 10px 0;
	}

	.header-content-left-logo img {
		display: none;
	}

	.header-content-left-logo a {
		display: block;
		background: url(../images/mobile/logo.png) 0 0 no-repeat;
		width: 92px;
		height: 30px;
		background-size: 92px 30px;
	}

	.menu-toggle {
		width: 50px;
		height: 50px;
		float: right;
		position: relative;
		margin-right: -15px;
	}

	.menu-toggle:before {
		content: "";
		width: 20px;
		height: 20px;
		background: url(../images/mobile/menu-toggle.png) 0 0 no-repeat;
		background-size: 20px 40px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -10px 0 0 -10px;
	}

	.menu-toggle.active:before {
		background-position: 0 -20px;
	}

	.header-content-right {
		position: fixed;
		left: 0;
		top: 50px;
		z-index: 200;
		background: #282828;
		width: 100%;
		text-align: center;
		transition:all .35s ease;
		max-height: 0;
		overflow: hidden;
	}

	.header-content-right.opening {
		overflow: hidden !important;
	}

	.header-content-right.open {
		display: block;
		max-height: 600px;
		overflow: visible;
	}

	.header-content-right-top {
		display: none;
	}

	.header-content-right-bottom {
		display: block;
		margin: 50px 0 22px 0;
	}

	.header-content-right-menu-list {
		display: block;
		padding: 1px 0 0 0;
	}

	.header-content-right-menu-list > li {
		display: block;
		margin: 12px 0 14px 0;
	}

	.header-content-right-menu-list > li > a {
		font-size: 16px;
		line-height: 24px;
	}

	.header-content-right-top-proposal {
		width: auto;
		float: none;
		text-align: center;
	}

	.header-content-right-top-language {
		width: auto;
		float: none;
		text-align: center;
	}

	.header-content-right-top-proposal a {
		font-size: 12px;
		font-family: "Gotham-Pro-Regular", sans-serif;
		color: #808080;
		line-height: 18px;
		position: relative;
		letter-spacing: 0.5px;
		transition: all .15s linear;
	}

	.header-content-right-top-proposal a:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: #808080;
		left: 0px;
		bottom: -1px;
		transition: all .15s linear;
		opacity: 1;
	}

	.header-content-right-top-proposal .link-item {
		margin: 0 0 10px 0;
	}
}

@media (max-width:767px) {

	header .container,
	footer .container {
		width:auto !important;
	}

	html,
	body,
	.container {
		min-width: 320px;
	}

	.slick-arrow {
		width: 40px;
		height: 40px;
		top: 50%;
		bottom: 0;
		z-index: 10;
		transition: all .15s linear;
		margin: 0;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		background-image: none;
		background-color: transparent !important;
		text-indent: -99999px;
		border:0;
	}

	.slick-prev {
		left: 0;
	}

	.slick-next {
		left: auto;
		right: 0;
	}

	.slick-arrow:after {
		content: "";
		background-image: url(../images/mobile/slider-arrows.png);
		width: 40px;
		height: 40px;
		background-size: auto 40px;
		left: 0;
		top: 0;
		position: absolute;
	}

	.slick-prev:after {
		background-position: 0 0 !important;
	}

	.slick-next:after {
		background-position: -40px 0 !important;
		left:auto;
		right:0;
	}

	.main {
		padding-top: 50px;
	}

	.home-poster-slick-item-content {
		width: auto;
		height: auto;
		position: relative;
		padding-top: 39px;
		min-height: 430px;
		text-align: center;
		height: auto !important;
	}

	.home-poster-slick-item:before {
		width: 100%;
		height: 100%;
	}

	.home-poster-slick-item-brand {
		margin: 0 auto 30px auto;
	}

	.home-poster-slick-item-text {
		/* font-size: 34px; */
		font-size: 28px;
		line-height: 36px;
		margin: 0 0 37px 0;
	}

	.home-poster-slick-number {
		font-size: 14px;
		bottom: 8px;
		right: 0;
		width: 100%;
		text-align: center;
	}

	.home-poster-slick-number-active {
		font-size: 18px;
		margin-right: 6px;
		position: relative;
		top: -3px;
	}

	.home-poster-slick .slick-arrow {
		width: 40px;
		height: 40px;
		top: auto;
		bottom: 0;
		z-index: 10;
		transition: all .15s linear;
		margin: 0;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		background-color: #fff !important;
	}

	.home-poster-slick .slick-prev {
		left: 0;
	}

	.home-poster-slick .slick-next {
		left: auto;
		right: 0;
	}

	.home-poster-slick .slick-arrow:after {
		background-image: url(../images/mobile/slider-arrows.png);
		width: 40px;
		height: 40px;
		background-size: auto 40px;
		left: 0;
		top: 0;
		margin-top: 0;
	}

	.home-poster-slick .slick-prev:after {
		background-position: 0 0 !important;
	}

	.home-poster-slick .slick-next:after {
		background-position: -40px 0 !important;
	}

	.home-series-doors {
		padding-top: 30px;
	}

	.i-block-title {
		font-size: 20px;
		line-height: 26px;
		margin-bottom: 19px;
	}

	.home-series-doors-content-list {
		margin-left: -10px;
		margin-right: -10px;
		margin-bottom: 40px;
	}

	.home-series-doors-content-list-item {
		padding: 0 5px 40px 5px;
		width: 103px;
		margin-bottom: 0;
	}

	.home-series-doors-content-list-item > a {
		display: block;
	}

	.home-series-doors-content-list-item-img {
		width: auto;
		height: auto;
		text-align: center;
		height: 220px;
		overflow: hidden;
	}

	.home-series-doors-content-list-item-img img {
		display: inline-block;
		width: 100%;
		height: auto;
		position: relative !important;
		left: auto !important;
		top: auto !important;
	}

	.home-series-doors-content-list-item-category {
		width: 54px;
		height: 54px;
		font-size: 18px;
		line-height: 50px;
		left: 50%;
		bottom: 0;
		transition: all .15s linear;
		margin-left: -27px;
	}

	.home-series-doors-content-list .slick-prev {
		left: -3px;
	}

	.home-series-doors-content-list .slick-next {
		right: -3px;
	}

	.home-series-doors-content-description {
		display: block;
		text-align: center;
	}

	.home-series-doors-content-description {
		display: block;
		text-align: center;
	}

	.home-series-doors-content-description-title {
		width: auto;
		float: none;
		border: none;
		margin: 0 0 17px 0;
		padding: 0;
		text-align: center;
	}

	.home-series-doors-content-description-text {
		text-align: center;
		font-size: 14px;
		line-height: 18px;
		width: auto;
		padding: 0 10px;
	}

	.home-series-doors {
		margin-bottom: 23px;
	}

	.home-wardrobe-content-tabs {
		display: block;
	}

	.home-wardrobe-content-tabs-left {
		width: auto;
		min-height: 0;
	}

	.home-wardrobe-content-tabs-left-view {
		height: 200px;
		margin-bottom: 12px;
	}

	.cabinet-2,
	.cabinet-3 {
		max-width: 100%;
		max-height: 100%;
		left: 50% !important;
		height: 200px !important;
	}

	.cabinet-2 {
		margin-left: -190px;
  	top: 15px;
	}

	.cabinet-2.active {
		margin-left: -140px;
  	top: 0;
	}

	.cabinet-3 {
		margin-left: -60px;
		top: 15px;
	}

	.cabinet-3.active {
		margin-left: -124px;
  	top: 0;
	}

	.home-wardrobe-content-tabs-left-nav {
		width: 190px;
		height: 15px;
		margin: auto;
		padding-top: 0;
		background: url(../images/mobile/arrows.png) center top no-repeat;
		background-size: 186px auto;
		min-height: 0;
	}

	.home-wardrobe-content-tabs-left-nav-text {
		display: none;
	}

	.home-wardrobe-content-title {
		display: none;
	}

	.home-wardrobe-content > .home-wardrobe-content-title {
		display: block;
		font-size: 20px;
		line-height: 26px;
		text-align: center;
		margin: 0 0 19px 0;
	}

	.home-wardrobes {
		padding-top: 31px;
		margin-bottom: 0;
	}

	.home-wardrobe-content-tabs-left-nav-list {
		display: none;
	}

	.home-wardrobe-content-tabs-right {
		width: auto;
		min-height: 0;
		position: relative;
		text-align: center;
		background: #fff;
		margin: 63px -15px 0 -15px;
		padding: 0 30px 35px 30px;
	}

	.home-wardrobe-content-nav-right-link {
		font-size: 87px;
		line-height: 87px;
		padding-top: 0;
	}

	.home-wardrobe-content-nav-right {
		margin-bottom: -59px;
		position: relative;
		top: -56px;
		padding: 0;
		height: 87px;
	}

	.home-wardrobe-content-nav-right-link {
		min-height: 87px;
		font-size: 87px;
		line-height: 87px;
		display: inline-block;
		position: relative;
		padding-top: 0;
	}

	.home-wardrobe-content-nav-right-link:first-child {
		margin-right: 53px;
	}

	.home-wardrobe-content-nav-right-link:first-child:after {
		width: 35px;
		height: 5px;
		top: 43px;
		right: -49px;
	}

	.home-wardrobe-content-title-2nd {
		text-align: center;
		font-size: 36px;
		line-height: 40px;
		margin: 0 0 20px 0;
	}

	.home-wardrobe-content-text {
		text-align: center;
		margin: 0 0 15px 0;
	}

	.home-wardrobe-content-nav-right-link.selected:before {
		border-top: solid 6px #788593;
		border-left: solid 6px transparent;
		border-right: solid 6px transparent;
		top: 0;
		left: 50%;
		margin-left: -6px;
	}

	.home-wardrobe-content-nav-right-link>span:before {
		display: none;
	}

	.home-wardrobe-content-constructor {
		width: 220px;
		margin: 0 auto;
		background: url(../images/mobile/ico-constructor.png) left 0px no-repeat;
		background-size: 43px auto;
		text-align: left;
	}

	.home-wardrobe-content-constructor-link>span:after {
		background-image: url(../images/mobile/link-arrow.png);
		background-position: 0 0 !important;
		right: -27px;
		top: 11px;
		background-size: 18px auto;
	}

	.home-download-catalog-content-left {
		display: none;
	}

	.home-download-catalog-content {
		display: block;
		height: auto;
		position: relative;
		background: none;
	}

	.home-download-catalog {
		background: url(../images/mobile/cat-dl-bg.jpg) center center no-repeat;
		background-size: cover;
		text-align: center;
		margin-bottom: 33px;
	}

	.home-download-catalog-content-right {
		width: auto;
		padding-top: 32px;
		padding-bottom: 34px;
	}

	.home-download-catalog-content-right-title {
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		margin-bottom: 27px;
	}

	.home-download-catalog-content-right-btns-down {
		margin: 0 auto 9px auto;
		display: block;
	}

	.home-download-catalog-content-right-btns-link {
		margin: 0 0 0 -30px;
	}

	.home-download-catalog-content-right-btns-link>span:after {
		background-image: url(../images/mobile/link-arrow.png);
		background-position: 0 !important;
		background-size: 18px auto;
	}

	.home-last-news-content-link {
		display: none;
	}

	.home-last-news-content-list {
		display: block;
		margin: 0 0 30px 0;
	}

	.i-social-network-content {
		display: none;
	}

	.home-last-news .i-block-title {
		margin-bottom: 24px;
	}

	.home-last-news-content-list .slick-prev {
  	left: -14px;
	}

	.home-last-news-content-list .slick-next {
		margin-top: -80px;
  	right: -14px;
	}

	.home-last-news-content-list-item-img {
	  margin-bottom: 17px;
		width: auto;
	}

	.home-last-news-content-list-item-img img {
		width: 100%;
	}

	.home-last-news-content-list-item-date {
		text-align: center;
	}

	.home-last-news-content-list-item-title {
		font-size: 22px;
		line-height: 28px;
		text-align: center;
	}

	.home-last-news-content-list-item-title>span {
		background: none;
	}

	.home-last-news {
		margin-bottom: 0;
		padding-bottom: 17px;
	}

	.i-social-network {
		display: none;
	}

	.footer-content-social-network-link {
		display: none;
	}

	.footer-content-social-network-link:nth-of-type(1),
	.footer-content-social-network-link:nth-of-type(2) {
		display: inline-block;
	}

	.footer {
		padding-top: 26px;
		padding-bottom: 32px;
	}

	.footer-content-social-network {
		text-align: center;
		margin-bottom: 26px;
	}

	.footer-content-bottom {
		display: block;
	}

	.footer-content-bottom-left {
		text-align: center;
  	width: auto;
	}

	.footer-content-bottom-right {
		width: auto;
		margin: 28px auto 0 auto;
		padding: 0 30px;
		width: 290px;
	}

	.footer-content-renaissance-logo {
		position: absolute;
		top: -2px;
		right: 32px;
	}

	.nav-page {
		display: none;
	}

	.where-buy-top {
		height: auto;
		letter-spacing: 0;
		line-height: 20px;
	}

	.where-buy-top-link {
		margin: 8px 10px;
	}

	h1 {
		font-size: 24px !important;
  	line-height: 28px !important;
		margin: 20px 0 22px 0 !important;
	}

	.filter-col {
		width: 100% !important;
	}

	.dealers-filter .form-group {
		margin: 0 0 10px 0;
	}

	.bootstrap-select .dropdown-toggle,
	.bootstrap-select .dropdown-toggle:active,
	.bootstrap-select .dropdown-toggle.active,
	.bootstrap-select .dropdown-toggle.btn-default {
		border-color: #eaebed;
  	background: #eaebed;
	}

	.btn-default:active:hover,
	.btn-default.active:hover,
	.open>.dropdown-toggle.btn-default:hover,
	.btn-default:active:focus,
	.btn-default.active:focus,
	.open>.dropdown-toggle.btn-default:focus,
	.btn-default:active.focus,
	.btn-default.active.focus,
	.open>.dropdown-toggle.btn-default.focus {
		border-color: #eaebed;
  	background: #eaebed;
	}

	.filter-col .btn-1,
	.filter-col .btn-1:focus	{
		width: 100%;
		height: 50px;
		border-radius: 25px;
		font-size: 14px;
		font-family: "Gotham-Pro-Medium", sans-serif;
		color: #fff !important;
		text-align: center;
		text-transform: uppercase;
		line-height: 48px;
		background: #b39b89;
		border: none;
		letter-spacing: 0.5px;
		transition: all .15s linear;
		padding: 0;
	}

	.filter-col .btn-1:hover	{
		background: #b39b89;
	}

	.filter-col .btn-1,
	form .i-btn {
		width: 100%;
	}

	.dealers-filter {
		margin: 0 0 30px 0;
	}

	.map-toggle {
		font-family: "Gotham-Pro-Regular", sans-serif;
		display: block;
		font-size: 18px;
		line-height: 24px;
		color: #b39b89;
		letter-spacing: .04em;
		cursor: pointer;
		text-align: center;
	}

	.map-toggle span {
		border-bottom: 1px dashed #b39b89;
		position: relative;
		display: inline-block;
		margin: 0 0 0 32px;
	}

	.map-toggle span:before {
		content: "";
		width: 19px;
		height: 25px;
		background: url(../images/mobile/ico-map.png) 0 0 no-repeat;
		background-size: 19px 25px;
		position: absolute;
		left: -32px;
		top: 0;
	}

	.dealers-map {
		width: 0;
		height: 0;
		overflow: hidden;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 300;
		opacity: 0;
		transition:opacity .5s ease;
	}

	.dealers-map.closing {
		opacity: 0 !important;
	}

	.dealers-map.open {
		display: block;
		width: 100%;
		height: 100%;
		visibility: visible;
		opacity: 1;
	}

	.dealers-map .map-close {
		position: absolute;
		right: 0;
		top: 0;
		color: #f00;
		text-indent: -1000px;
		overflow: hidden;
		font-size: 30px;
		line-height: 30px;
		z-index: 300;
		width: 40px;
		height: 40px;
		background: #fff;
	}

	.dealers-map .map-close:before {
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -12px 0 0 -12px;
		background:#fff url(../images/modal-close.png) 0 0 no-repeat;
		width: 24px;
		height: 24px;
	}

	.bootstrap-select .dropdown-menu {
		font-size: 18px;
	}

	.bootstrap-select.btn-group .dropdown-menu li a {
		padding: 14px 10px 14px 10px;
	}

	ul.dealers-tabs {
		display: none;
	}

	.dealers-select {
		display: block;
		margin: 0 0 15px 0;
	}

	.dealers-list-wrapper {
		margin-top: 30px !important;
	}

	.dealers-list-item {
		padding: 0 10px 10px 10px;
		margin: 0 0 13px 0;
		background: none !important;
	}

	.dealers-list-item-descr {
		display: none;
	}

	.dealers-list-item-timetable {
		display: none;
		margin: 0 0 10px 0;
	}

	.dealer-more-btn {
		display: block;
		clear: both;
		border: 1px solid #cdcdcd;
		font-size: 12px;
		line-height: 16px;
		text-transform: uppercase;
		color: #959595;
		font-family: "Gotham-Pro-Regular", sans-serif;
		text-align: center;
		padding: 4px 10px 2px 10px !important;
		border-radius: 13px;
		margin: 13px 0 0 0;
		cursor:pointer;
	}

	.dealer-more-btn.active {
		color: #fff;
		background: #cdcdcd;
	}

	.dealers-list-item > .row > div {
		padding-top: 0;
		padding-bottom: 0;
	}

	.dealers-list-item-name {
		margin: 0 0 13px 0;
	}

	.point-info-item,
	.dealers-list-item-info {
		margin: 0 0 10px 0 !important;
	}

	.dealers-item-link-wrapper {
		padding: 0 0 0 25px;
		margin: 0 0 10px 0;
	}

	.modal-header {
		padding: 0 5px;
	}

	.modal-header .close {
		right: 10px;
		top: 10px;
	}

	.modal-body {
		padding: 0 5px;
	}

	.dealer-gallery-modal .modal-dialog {
		width: auto;
	}

	.dealer-gallery-modal .modal-title {
		font-size: 18px;
		line-height: 24px;
		margin: 30px 0 20px 0;
	}

	.dealer-gallery-slick img {
		width: 100%;
	}

	.home-wardrobe-content-constructor-link>span {
		background: url(../images/line.jpg) 0px bottom repeat-x;
	}

	.advand-list {
  	-ms-flex-wrap: wrap;
  	flex-wrap: wrap;
  	-webkit-box-pack: center;
  	-ms-flex-pack: center;
  	justify-content: center;
  }
  .link-section img {
  	max-width: 100%;
  }
  .advand-list__item {
  	margin-bottom: 45px !important;
  }
  .link-section-slick__inner .slick-arrow {
  	background: none !important;
  }
  .link-section__listCols span {
  	display: block;
  }
  .link-section__title {
    font-size: 24px !important;
  }
  .link-section__sub-title {
  	font-size: 22px;
  }
  .link-section-picture {
  	text-align: center;
  }
  .link-section-picture__item {
  	margin-right: 0px;
  	width: 140px;
  }
  .link-section__list {
    margin-left: 35px;
  }
  .link-section-slick__inner .slick-next:after {
    background-position: initial !important;
  }

}
