/* bootstrap не везде правильно настроен или вообще не подключен */
/* хз, к чему может привести его подключение по всему сайту */
.b-pop,.b-pop *{box-sizing:border-box}
.b-pop .row{margin-left:-15px;margin-right:-15px}
	.b-pop .row:before,.b-pop .row:after{content:' ';display:table}
	.b-pop .row:after{clear:both}
.b-pop .col-xs-12,.b-pop .col-sm-6{float:left;position:relative;min-height:1px;padding-left:15px;padding-right:15px;box-sizing:border-box}
.b-pop .col-xs-12{width:100%}
@media(min-width:768px){
	.b-pop .col-sm-6{width:50%}
}
/* /bootstrap */


/* common */
.b-main--new{background:#f6f6f6;padding-bottom:30px}

.b-main--new h1{font-size:30px;margin-bottom:35px}
/* /common */


/* popups */
.m-error{color:#d00}

.b-pop{font:14px/20px 'Gotham-Pro-Light',sans-serif;color:#000;background:#fff;padding:40px !important;border-radius:0;box-sizing:border-box}
	.b-pop .fancybox-close-small{text-decoration:none;background:none;width:36px;height:36px;padding:0;right:36px;top:40px;transition:all 0.3s}
	.b-pop .fancybox-close-small:hover{background:rgba(0,0,0,0.1)}
		.b-pop .fancybox-close-small:after{content:'\00d7';color:#282828;font:normal 50px/36px 'RobotoCondensedRegular',serif;text-align:center;width:36px;height:36px;display:block}
		.b-pop .fancybox-close-small svg{display:none}
	.b-pop-title{font:28px/125% 'Gotham-Pro-Bold',sans-serif;color:#000;text-transform:uppercase;padding-right:70px;margin-bottom:25px}
	.b-pop-content{}
	.b-pop-content form{margin:0}
		.b-pop-form-block{margin-bottom:15px}
			.b-pop-form-block label{font-weight:normal;font-size:14px;margin:0 0 5px;display:block}
			.b-pop-form-block input{line-height:44px;color:#2b2b2b;width:100%;height:44px;padding:0 15px;margin:0;border:1px solid #53575a;border-radius:3px}
			.b-pop-form-block.m-error input{border-color:#d00}
		.b-pop-content .btn{font:16px/60px 'Gotham-Pro-Bold',sans-serif;color:#fff;text-transform:none;background:#777f8c;height:60px;padding:0 60px;margin:20px 0 0;border:0;border-radius:30px;transition:all 0.3s}
		.b-pop-content .btn:hover{background:#a38b79}

@media(min-width:768px){
	.b-pop{min-width:400px}
	.b-pop-dialer_form .b-pop-content{width:670px}
}
/* /popups */


/* where2buy */
.b-header-geo{font-size:12px;font-family:'Gotham-Pro-Regular',sans-serif;color:#808080;line-height:18px;margin-right:28px;display:inline;position:relative}
	.b-header-geo-selected{color:#777f8c !important;position:relative;letter-spacing:0.5px;transition:all .15s linear;cursor:pointer}
	.b-header-geo-selected:hover{color:#fff !important}
		.b-header-geo-selected:before{content:' ';background:#808080;width:100%;height:1px;position:absolute;left:0;bottom:-1px;transition:all .15s linear;opacity:1}
		.b-header-geo-selected:hover:before{opacity:0}
		.b-header-geo-selected:after{content:' ';background:url('/images/ico-map-link.png') 0 0 no-repeat;width:10px;height:14px;position:absolute;left:-16px;top:0}

	.b-header-geo-pop{font-size:14px;background:#fff;min-width:260px;padding:30px 25px;margin-top:10px;display:none;position:absolute;z-index:100;box-shadow:0 0 20px 0 rgba(0,0,0,0.5)}
	.b-header-geo-pop,.b-header-geo-pop *{box-sizing:border-box}
		.b-header-geo-pop-proposal{text-align:center}
			.b-header-geo-pop-proposal div{white-space:nowrap}
				.b-header-geo-pop-proposal div span{color:#b49a89}

		.b-header-geo-pop-btns{white-space:nowrap;margin-top:20px;display:block}
			.b-header-geo-pop-btns span{line-height:36px;color:#222;background:#fff;height:40px;padding:0 25px;border:2px solid #777f8c;border-radius:20px;display:inline-block;cursor:pointer;transition:all .15s linear}
			.b-header-geo-pop-btns span:first-child{font-weight:bold;color:#fff;background:#777f8c;margin-right:10px}
			.b-header-geo-pop-btns span:hover{color:#fff;background:#788593;border-color:#788593}

.b-pop-geolocation{width:100%;max-width:1000px}
	.b-pop-geolocation-inner{margin:10px -15px 0;overflow:hidden}
		.b-pop-geolocation ul{list-style:none;width:25%;padding:0;margin:0;float:left}
			.b-pop-geolocation ul li{list-style:none;width:100%;padding:5px 15px;margin:0}
				.b-pop-geolocation ul li div{font-weight:bold;color:#555}
				.b-pop-geolocation ul li span{color:#b49a89;border-bottom:1px dotted;cursor:pointer;transition:all 0.3s}
				.b-pop-geolocation ul li span:hover{color:#788593;border-color:#788593}

.b-where{}
.b-where a{color:#777f8c !important;text-decoration:underline;transition:all 0.3s}
.b-where a:hover{color:#000 !important;text-decoration:underline}
	.b-where-countries{font-size:15px;line-height:30px;list-style:none !important;padding:0 !important;margin:0 !important;display:block}
		.b-where-countries li{list-style:none;padding:0 !important;margin:0 20px 0 0 !important;display:inline-block}
		.b-where-countries li:last-child{margin-right:0 !important}
			.b-where-countries li span{font-weight:bold;color:#222}

.b-where-filter{margin-top:30px;margin-bottom:40px}
	.b-where-filter label{font-weight:normal;font-size:15px;color:#555}
	.b-where-filter .bootstrap-select .dropdown-toggle{font-size:15px;line-height:20px;color:#333;height:40px;padding-left:15px;border-color:#777f8c}
		.b-where-filter .bootstrap-select .dropdown-toggle .caret{border:5px solid transparent;border-top:5px solid #999}
	.b-where-filter .bootstrap-select .dropdown-menu{font-size:15px;font-family:'Gotham-Pro-Regular',sans-serif}
		.b-where-filter .bootstrap-select .bs-searchbox{padding:10px 15px}
			.b-where-filter .bootstrap-select .bs-searchbox input{line-height:36px;height:36px}
			.b-where-filter .bootstrap-select .bs-searchbox input:focus{border-color:#b49a89;box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(180, 150, 130, 0.6)}
		.b-where-filter .bootstrap-select.btn-group .dropdown-menu li.no-results{padding:10px 15px}
			.b-where-filter .bootstrap-select.btn-group .dropdown-menu li a{color:#555 !important;padding-left:15px}

.b-where-map-wrapper{margin-bottom:30px}
	.b-where-map{height:440px;display:block !important}
		.b-where-map-close{display:none}
		.b-where-map-toggle{display:none}
		.b-where-map-cluster-icon{font:bold 11px/100% arial,sans-serif;color:#000;text-align:center;padding:7px 0 0 0}

.b-where-shop_types{font:18px/40px 'Gotham-Pro-Regular',sans-serif;color:#111;margin:40px 0}
	.b-where-shop_types>div{padding-left:45px;display:flex; position:relative; margin-bottom:20px; cursor: pointer; }
		.b-where-shop_types>div:before{content:' ';background:url('/images/map-icon-white.png') 0 0 no-repeat;width:26px;height:38px;display:block;position:absolute;left:5px;top:0}
		.b-where-shop_types>div.b-where-shop_types-moll:before{background-image:url('/images/map-icon-black.png')}
		.b-where-shop_types>div.b-where-shop_types-brand:before{background-image:url('/images/map-icon-grey.png')}
		.b-where-shop_types>div:hover .b-where-shop_type-tooltip { opacity:1; visibility: visible; }
		.b-where-shop_type-title { flex: 1 1 25%; max-width:25%; line-height: 1.5; }
		.b-where-shop_type-desc { flex:1 1 75%; max-width:75%; font-size:13px; line-height: 20px; color:#777f8c; }

		.b-where-shop_type-desc > p { margin-bottom:5px; }
		.b-where-shop_type-desc > ul { padding-left:20px; list-style:disc outside; }
		.b-where-shop_type-desc > ul > li { list-style: disc outside; }

		.b-where-shop_type-tooltip { opacity: 0; visibility: hidden; background: #798592; color: #fff; position: absolute; left: 0; margin: 0 0 -1px -3px; box-shadow: 0px 3px 7px 0px rgba(1, 0, 0, 0.3); font-size: 11px; min-width:300px; transition: opacity .3s ease; line-height: 18px; letter-spacing: .01em; padding: 3px 7px 2px 7px; z-index: 11; }
		.b-where-shop_type-tooltip > p { margin-bottom:5px; }
		.b-where-shop_type-tooltip > ul { padding-left:20px; list-style:disc outside; }
		.b-where-shop_type-tooltip > ul > li { list-style: disc outside; }
		.b-where-shop_type-tooltip > *:last-child { margin-bottom:0; }

.b-where-list{font-size:14px;line-height:20px;color:#444;list-style:none !important;padding:0 !important;margin:0 !important}
	.b-where-list>li{background:#fff;list-style:none !important;padding:40px !important;margin:0 0 10px !important;display:block;transition:all 0.3s}
	.b-where-list>li.m-moll{background:rgba(0,0,0,0.05)}
	.b-where-list>li:last-child{margin-bottom:0 !important}
	.b-where-list>li:hover{background:rgba(0,0,0,0.1)}
		.b-where-list-el-type{font:normal 16px/24px 'Gotham-Pro-Medium',sans-serif;color:#222;text-transform:uppercase;margin-bottom:10px}
		.b-where-list-el-ico{position:relative;padding-left:28px}
			.b-where-list-el-ico:before{content:' ';background:url('/images/where-item-prop-icons.png') 0 0 no-repeat;width:0;height:0;position:absolute;left:0;top:3px}
			.b-where-list-el-address:before{background-position:0 0;width:12px;height:16px;left:2px}
			.b-where-list-el-worktime:before{background-position:-12px 0;width:14px;height:14px}
			.b-where-list-el-phone:before{background-position:-26px 0;width:15px;height:16px;top:2px}
			.b-where-list-el-email:before{background-position:-41px 0;width:16px;height:12px;top:5px}
			.b-where-list-el-link:before{background-position:-57px 0;width:14px;height:14px}
			.b-where-list-el-map:before{background-position:0 0;width:12px;height:16px;left:2px}
		.b-where-list-el-btns>*{color:#777f8c;cursor:pointer;transition:all 0.3s;display:inline-block}
		.b-where-list-el-btns>*:hover{color:#788593}
		.b-where-list>li>.row>div>div{margin-bottom:10px}

@media(max-width:767px){
	.b-where-map{width:0;height:0;overflow:hidden;position:fixed;left:0;top:0;z-index:300;opacity:0;transition:opacity .5s ease}
	.b-where-map.closing{opacity:0 !important}
	.b-where-map.open{width:100%;height:100%;display:block;visibility:visible;opacity:1}
	.b-where-map-close{font-size:30px;line-height:30px;text-indent:-1000px;color:#f00;background:#fff;width:40px;height:40px;position:absolute;right:0;top:0;z-index:300;overflow:hidden;display:block}
		.b-where-map-close:before{content:'';background:#fff url('../images/modal-close.png') 0 0 no-repeat;width:24px;height:24px;margin:-12px 0 0 -12px;position:absolute;left:50%;top:50%}
	.b-where-map-toggle{font-family:'Gotham-Pro-Regular',sans-serif;font-size:18px;line-height:24px;color:#b39b89;letter-spacing:.04em;display:block;cursor:pointer;text-align:center}
		.b-where-map-toggle span{border-bottom:1px dashed #b39b89;position:relative;display:inline-block;margin:0 0 0 32px}
			.b-where-map-toggle span:before{content:'';background:url('../images/mobile/ico-map.png') 0 0 no-repeat;background-size:19px 25px;width:19px;height:25px;position:absolute;left:-32px;top:0}
}
@media(min-width:768px){
	.b-where-list-el-type{margin-bottom:0}
		.b-where-list>li>.row>div>div:last-child{margin-bottom:0}
}
/* /where2buy */


@media(max-width:640px){
	.b-where-shop_types>div { flex-wrap:wrap; }
	.b-where-shop_type-title, .b-where-shop_type-desc { flex:1 1 100%; max-width:100%; }
	.b-where-shop_type-desc { margin-top:10px; }
}






.b-where-map-baloon{background:#fff;border-radius:5px;box-shadow:0 0 3px 0 rgba(0,0,0,.2);position:absolute}
	.b-where-map-baloon:after{content:'';background:url('/images/balloon-pt.png') 0 0 no-repeat;width:41px;height:15px;margin-left:-13px;position:absolute;left:50%;top:100%}

.b-where-map[class$=balloon__close-button],.b-where-map-baloon .close {background:url('/images/balloon-close.png') 0 0 no-repeat;width:16px;height:16px;margin:0;position:absolute;right:10px;top:10px;opacity:1 !important}
.b-where-map[class$=balloon__close-button]:hover,.b-where-map-baloon .close:hover{background-position:0 -16px}

.point-descr-wrapper {
	padding:17px 35px 20px 20px;
	font-size:13px;
	line-height:20px;
	color:#000;
}

.point-descr a,
.point-descr a:focus {
	color:#bc935d;
	text-decoration:underline;
}

.point-descr a:hover {
	color:#bc935d;
	text-decoration:none;
}


.point-name {
	font-family:"geometria",sans-serif;
	font-size:15px;
	line-height:20px;
	font-weight:bold;
	color:#111;
	text-transform:uppercase;
	letter-spacing:0.01em;
	margin:0 0 12px 0;
}

.point-info-item {
	margin:10px 0 0 0;
	padding:0 0 0 25px;
	position:relative;
}

.point-info-item:before {
	content:"";
	position:absolute;
	left:0;
	top:0;
}

.point-address:before {
	width:10px;
	height:14px;
	background:url(../images/ico-point-address.png) 0 0 no-repeat;
	top:2px;
}

.point-phones:before {
	width:12px;
	height:12px;
	background:url(../images/ico-point-phones.png) 0 0 no-repeat;
	top:4px;
}

.point-timetable:before {
	width:12px;
	height:12px;
	background:url(../images/ico-point-timetable.png) 0 0 no-repeat;
}

.point-email:before {
	width:12px;
	height:8px;
	background:url(../images/ico-point-email.png) 0 0 no-repeat;
	top:7px;
}

.point-link:before {
	width:12px;
	height:12px;
	background:url(../images/ico-point-link.png) 0 0 no-repeat;
	top:4px;
}

.b-where-map [class$="cluster-content__header"]{display:none}
.b-where-map [class$="cluster-content__body"] .point-descr-wrapper{font-size:13px;line-height:20px;font-family:'merriweather',serif;color:#000;padding:0}

.header-content-right-top { align-items: center; }
.header-content-top-social { margin:0 20px; }
.header-content-top-social__item { display: inline-block; margin-right:10px; max-height: 24px; }
.header-content-top-social__item:last-child { margin-right:0; }
.header-content-top-social__item svg { fill:#777f8c; transition: all .3s ease; }
.header-content-top-social__item svg:hover { fill:#FFF; }
