.seria {
  margin-top: 10px;
  margin-bottom: 50px;
}

.seria__list {
  .reset();
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.seria__item {
  position: relative;
  width: 113px;
  margin-right: 33px;
  margin-bottom: 80px;
  text-align: center;
  
  &:hover,
  &:active {
    .seria__name {
      color: #fff;
      background-color: #788593;
      border-color: #788593;
    }
  }
}

.seria__link {
  display: block;
}

.seria__img {
  width: 100%;
  height: 273px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
  img {
    display: block;
    max-height: 100%;
  }
}

.seria__name {
  width: 65px;
  height: 65px;
  border: solid 3px #000000;
  font-size: 22px;
  font-weight: 500;
  color: #000;
  line-height: 65px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50px;
  transition: all .15s linear;
}
