.top {
  color: #fff;
  background-color: #777f8c;
}

.top__list {
  .reset();
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  li a {
    display: block;
    padding: 0 13px;
    line-height: 28px;
    font-size: 15px;
  }
}

.top__active a {
  text-decoration: none;
  background: #FFF;
  color: #333;
}
